<h2>User info</h2>
        <%= attachment_image_tag current_user, :image,:fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg",  class: "img-info" ,:size => "40x40" %>

      <table class="table" style="table-layout:fixed;width:100%;">
        <tbody>
          <tr>
            <th>name</th>
            <th><%= current_user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th style="word-wrap:break-word;"><%= current_user.introduction %></th>
          </tr>
        </tbody>
    </table>
    <div class="row"><%= link_to"", edit_user_path(current_user.id), class:"col-xs-12 btn btn-default glyphicon glyphicon-wrench"  %></div>


  <h2>New Books</h2>
    <%= form_for(Book.new) do |f| %>
    <div class="field row">
      <label>Title</label><br>
      <%= f.text_field :title, class:"col-xs-12" %>
    </div>

    <div class="field row">
      <label>Body</label><br>
      <%= f.text_area :body, class:"col-xs-12" %>
    </div>
    <br>
    <div class="actions row"><%= f.submit 'Create Book', class: "btn btn-primary col-xs-12" %></div>

<% end %>